
<footer>
  <div class="footer-top">
    <div class="inner">
      <div class="guid-area">
        <div class="box">
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/icon-derivery.png" alt="">
            <p>配送について</p>
          </div>
          <a class="btn" href="{{ '/pages/faq' | append: '#shipping_cost' }}
">View More</a>
        </div>
        <div class="box">
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/icon-return.png" alt="">
            <p>返品について</p>
          </div>
          <a class="btn" href="{{ '/pages/faq' | append: '#return_exchange' }}">View More</a>
        </div>
        <div class="box">
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/icon-payment.png" alt="">
            <p>支払いについて</p>
          </div>
          <a class="btn" href="{{ '/pages/faq' | append: '#order_payment' }}">View More</a>
        </div>
      </div><!-- /.guid-area -->
      <div class="footer-nav">
        <div class="footer-logo"><a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/logo.png" alt=""></a></div>
        <nav>
          <ul>
            <li><a href="{{ routes.root_url }}">ホーム</a></li>
            <li><a href="{{ '/pages/about' }}">Gala青い海について</a></li>
            <li><a href="{{ '/blogs/news' }}">特集一覧</a></li>
            <li><a href="{{ '/collections/all' }}">商品一覧</a></li>
            <li><a href="{{ '/pages/faq' }}">よくある質問</a></li>
            <li><a href="{{ '/pages/contact' }}">お問い合わせ</a></li>
          </ul>
          <ul>
            <li><a href="{{ '/pages/policy' }}">プライバシーポリシー</a></li>
            <li><a href="{{ '/pages/terms' }}">特定商取引法に基づく表記</a></li>
            <li><a href="{{ '/pages/company' }}">会社概要</a></li>
            <li><a href="https://www.aoiumi.co.jp/" target="_blank" rel="noopener" class="tab">株式会社 青い海</a></li>
          </ul>
        </nav>
      </div><!-- /.footer-nav -->
    </div><!-- ./inner -->
  </div><!-- /. footer-top -->
  <div class="footer-bottom">
    <div class="inner">
      <p>Follow Us</p>
      <div class="sns-link">
        <a class="insta" href="https://www.instagram.com/galaaoiumi/?hl=ja" target="_blank">Instagram</a>
        <a class="facebook" href="https://www.facebook.com/galaaoiumi.jp/" target="_blank">Facebook</a>
      </div>
      <p><small>© Gala青い海. All rights reserved.</small></p>
    </div><!-- /.inner -->
  </div><!-- ./footer-bottom -->
</footer>