
<!-- メインビジュアル -->
<div class="p-top_mv">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_mv01_sp.png" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_mv01.png" alt="琉球ガラス">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_mv02_sp.png" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_mv02.png" alt="沖縄の海">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_mv03_sp.png" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_mv03.png" alt="青い海 塩01">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_mv04_sp.png" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_mv04.png" alt="沖縄工芸品01">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_mv05_sp.png" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_mv05.png" alt="青い海 塩02">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_mv06_sp.png" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_mv06.png" alt="沖縄工芸品02">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_mv07_sp.png" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_mv07.png" alt="沖縄お菓子">
        </picture>
      </div>
    </div><!-- /.swiper-wrapper -->
  </div><!-- /.swiper -->
</div><!-- /.p-top_mv -->

<section class="p-top_wrap01">
  <div class="inner">
    <div class="en-ttl">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_about-ttl.png" alt="">
    </div>
    <div class="about">
      <h2 class="fadeIn">
        沖縄を五感で体感できるスポット<br>
        「Gala 青い海」<br>
        公式オンラインストア
      </h2>
      <p class="fadeIn">
        沖縄県中部、読谷村にある「Gala青い海」は青い空と海が一望出来る場所。<br class="nosp">
        自然、文化、アクティビティ、沖縄の『いいモノ』を五感で楽しめるスポットです。<br class="nosp">
        沖縄の魅力をお手元にお届けするための、オンラインストアを開設しました。
      </p>
      <a href="{{ '/pages/about' }}" class="btn fadeIn">View About</a>
    </div>
    <div class="obj-map fadeIn">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_about-map_sp.png" media="(max-width: 767.98px)" class="sp_img">
        <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_about-map.png" alt="">
      </picture>
    </div>

  </div>
  <div class="about-bg"></div>
</section><!-- /.p-top_wrap01 -->

<section class="p-top_wrap02">
  <div class="inner">
    <div class="picup fadeIn">
      <div class="ttl">
        <div class="en-ttl">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_pickup-ttl.png" alt="">
        </div>
        <h2>特集</h2>
      </div>
    </div><!-- /.picup -->
  </div><!-- /.inner -->
  <div class="obj-leaf01"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
  {% comment %} <div class="pickup-slider swiper02 fadeIn">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/dummy-img01.jpg" alt="">
          </div>
          <div class="cate">
            <p>作品紹介</p>
          </div>
          <div class="ttl">
            <p>特集タイトルが入ります。</p>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/dummy-img02.jpg" alt="">
          </div>
          <div class="cate">
            <p>作品紹介</p>
          </div>
          <div class="ttl">
            <p>特集タイトルが入ります。</p>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/dummy-img03.jpg" alt="">
          </div>
          <div class="cate">
            <p>作品紹介</p>
          </div>
          <div class="ttl">
            <p>特集タイトルが入ります。</p>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/dummy-img01.jpg" alt="">
          </div>
          <div class="cate">
            <p>作品紹介</p>
          </div>
          <div class="ttl">
            <p>特集タイトルが入ります。</p>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/dummy-img02.jpg" alt="">
          </div>
          <div class="cate">
            <p>作品紹介</p>
          </div>
          <div class="ttl">
            <p>特集タイトルが入ります。</p>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/dummy-img03.jpg" alt="">
          </div>
          <div class="cate">
            <p>作品紹介</p>
          </div>
          <div class="ttl">
            <p>特集タイトルが入ります。</p>
          </div>
        </a>
      </div>
    </div><!-- /.swiper-wrapper -->
    <div class="slie-btn_area slieBtn01 fadeIn">
      <div class="to-all"><a href="#">View All</a></div>
      <div class="swiper-prev"></div>
      <div class="swiper-next"></div>
    </div>

    <div class="slie-btn_area slieBtn02 fadeIn">
      <div class="swiper-prev"></div>
      <div class="to-all"><a href="#">View All</a></div>
      <div class="swiper-next"></div>
    </div>
  </div><!-- /.swiper02 -->  {% endcomment %}



  <div class="pickup-slider swiper02 fadeIn">
    <div class="swiper-wrapper">
      {% for article in blogs['news'].articles %}
        <div class="swiper-slide">
          <a href="{{ article.url }}">
            <div class="thumn-box obj-fit">
              <img src="{{ article.image.src | img_url: 'medium' }}" alt="{{ article.image.alt }}">
            </div>
            <div class="cate">
              <p>{{ article.tags | join: ', ' }}</p>
            </div>
            <div class="ttl">
              <p>{{ article.title }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div><!-- /.swiper-wrapper -->
    <div class="slie-btn_area slieBtn01 fadeIn">
      <div class="to-all"><a href="{{ blogs['news'].url }}">View All</a></div>
      <div class="swiper-prev"></div>
      <div class="swiper-next"></div>
    </div>

    <div class="slie-btn_area slieBtn02 fadeIn">
      <div class="swiper-prev"></div>
      <div class="to-all"><a href="{{ blogs['news'].url }}">View All</a></div>
      <div class="swiper-next"></div>
    </div>
  </div><!-- /.swiper02 -->
</section><!-- /.p-top_wrap02 -->
<div class="up_wave"></div>
<section class="p-top_wrap03">
  <div class="inner">
    <div class="recomend">
      <div class="ttl fadeIn">
        <div class="en-ttl">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_recomend-ttl.png" alt="">
        </div>
        <h2>スタッフのおすすめ</h2>
      </div>
      <div class="to-lp_area">
        <div class="box fadeIn">
          <a href="{{ '/pages/tastyset' }}">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_recomend-img02_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
              <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_recomend-img02.jpg" alt="">
            </picture>
          </a>
        </div>
        <div class="box fadeIn">
          <a href="{{ '/pages/craft-collection' }}">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/top_recomend-img03_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
              <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_recomend-img03.jpg" alt="">
            </picture>
          </a>
        </div>
      </div><!-- /.to-lp_area -->
    </div><!-- /.recomend -->
  </div><!-- /.inner -->

</section><!-- /.p-top_wrap03 -->
<div class="down_wave"></div>
<section class="p-top_wrap04">
  <div class="obj-leaf02"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf02.png" alt=""></div>
  <div class="ranking_wrap">
    <div class="ranking">
      <div class="ttl fadeIn">
        <div class="en-ttl">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_ranking-ttl.png" alt="">
        </div>
        <h2>人気ランキング</h2>
      </div>
      <div class="x_scroll fadeIn">
        <ul>
          {% assign ranking = collections['all'] %}
          {% for product in ranking.products limit: 5 %}
            <li>
              <a href="{{ product.url }}">
                <div class="thumn-box obj-fit">
                  <img src="{{ product.featured_image.src | img_url: 'master' }}"
                    alt="">
                </div>
                <div class="cate">
                  <p>{{ product.tag }}</p>
                </div>
                <div class="item-name">
                  <p>{{ product.title }}</p>
                </div>
                <div class="price">
                  <p>{{ product.price | money }}<span>（税込）</span></p>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- /.ranking -->
  </div><!-- /.inner -->
</section><!-- /.p-top_wrap04 -->


<section class="p-top_wrap05">
  <div class="inner">
    <div class="category">
      <div class="ttl fadeIn">
        <div class="en-ttl">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_category-ttl.png" alt="">
        </div>
        <h2>商品カテゴリ</h2>
      </div>
      <ul class="fadeIn">
        <!-- <li class="thumn-box">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_category-img01.jpg" alt="">
            <div class="cate-name">
              <p>やむちん</p>
            </div>
          </a>
        </li> -->
        <li class="thumn-box">
          <a href="{{ '/collections/ryukyuglass' }}">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_category-img02.jpg" alt="">
            <div class="cate-name">
              <p>琉球ガラス</p>
            </div>
          </a>
        </li>
        <li class="thumn-box">
          <a href="{{ '/collections/salt-goods' }}">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_category-img03.jpg" alt="">
            <div class="cate-name">
              <p>塩 /<br>塩関連食品</p>
            </div>
          </a>
        </li>
        <li class="thumn-box">
          <a href="{{ '/collections/craft' }}">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_category-img04.jpg" alt="">
            <div class="cate-name">
              <p>工芸品/<br>アパレル</p>
            </div>
          </a>
        </li>
        <li class="thumn-box">
          <a href="{{ '/collections/foods' }}">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_category-img05.jpg" alt="">
            <div class="cate-name">
              <p>お菓子類/<br>飲みもの</p>
            </div>
          </a>
        </li>
        <li class="thumn-box">
          <a href="{{ '/collections/others' }}">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_category-img06.jpg" alt="">
            <div class="cate-name">
              <p>その他</p>
            </div>
          </a>
        </li>
      </ul>
      <a class="btn fadeIn" href="{{ '/collections/all' }}">View All</a>
    </div><!-- /.category -->
  </div><!-- /.inner -->
  <div class="obj-leaf03"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
</section><!-- /.p-top_wrap05 -->

<section class="p-top_wrap06">
  <div class="inner">
    <div class="instagram fadeIn">
      <div class="ttl">
        <div class="en-ttl"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-top_insta-ttl.png" alt=""></div>
      </div>
    </div>
  </div>
  {% comment %} <div class="feed-area"> {% endcomment %}

    {% comment %} <p>ここにインスタの投稿が入ります。</p> {% endcomment %}
  {% comment %} </div>
  <a class="btn tab" href="https://www.instagram.com/galaaoiumi/?hl=ja" target="_blank">View Instagram</a>
{% endcomment %}
</section><!-- /.p-top_wrap06 -->




{% schema %}
  {
    "name": "top-main",
    "presets": [
      {
        "name": "top-main"
      }
    ]
  }
{% endschema %}


